<div class="structure">
    <div class="header secondary">
        <div class="header__title">
            <img
                class="header__icon"
                src="../../../assets/icons/icon-client.png"
              />
              <h1>Informações do Cliente</h1>
        </div>
    </div>
    <div class="content">
        <div *ngFor="let item of dadosClient; let i = index">
            <div class="content__item">
                <p>{{ item.tipo }}</p>
                <p>{{ item.valor }}</p>
            </div>
            <div *ngIf="i < dadosClient.length - 1" class="content__item-line"></div>
        </div>
    </div>
</div>
