<div class="structure">
    <div class="header">
        <app-card-title title="Cartão de Crédito" icon="icon-credit-card.png"/>
    </div>
    <div class="content">
        <div class="content__item">
            <p>
              1234567891011 <br />
              FELIPE DA SILVA FREITAS
            </p>
            <p>MASTERCARD</p>
          </div>
          <div *ngFor="let item of dataCredit; let i = index">
            <div class="content__item">
                <p>{{ item.text }}</p>
                <p>{{ item.value }}</p>
            </div>
            <div *ngIf="i < dataCredit.length - 1" class="content__item-line"></div>
            </div>
    </div>
</div>
