<div class="structure">
    <div class="header">
            <app-card-title title="Saldos Disponíveis" icon="icon-hand.png"/>
        <p>R$ 100,00</p>
    </div>
    <div class="content">
      <div *ngFor="let item of dataBalance; let i = index">
            <div class="content__item">
                <p>{{ item.text }}</p>
                <p>{{ item.value }}</p>
            </div>
            <div *ngIf="i < dataBalance.length - 1" class="content__item-line"></div>
        </div>
        <div class="content__item-line"></div>

        <div class="content__summary">
            <div class="content__item">
                <p>SALDO TOTAL</p>
                <p>R$ 1000,00</p>
            </div>
            <div class="content__item">
                <p>LIVRE PARA A MOVIMENTAÇÃO</p>
                <p>R$ 1000,00</p>
            </div>
        </div>
    </div>
</div>
